.linha{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.corLinhaBlack{
  background: black;
  height: 4rem;
  width: 4rem;
}

.corlinhaWhithe{
  background: white;
  height: 4rem;
  width: 4rem;
}