.container{
   height: 100vh;
   background-color: rgb(66, 66, 66);
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.form{
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  border: 0.1rem solid rgb(104, 104, 104);
  border-radius: 0.25rem;
  box-shadow: 1rem 1rem 1rem rgb(41, 41, 41);
  height: 5rem;
  width: 30rem;
  background-color: rgb(36, 36, 36);
}

.table{
  border: 0.1rem solid black;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
}

.listagem{
  display: flex;
  flex-direction: column;
  align-items: center;
}


